username,password,first_name,last_name,period,student_id,grade_level
jsmith,jsmithpass,Jane,Smith,2,101010,9
bwilliams,bwilliamspass,Bob,Williams,2,111111,10
cwang,cwangpass,Carlos,Wang,2,100001,11
saraw,sarawpass,Sara,Wallace,3,676767,9
jim,jimpass,Jim,Jimerson,3,666777,10
bsimpson,bartpass,Bart,Simpson,3,767676,11
spongebob,spongepass,Spondebob,Squarepants,4,123456,12
patrick,patpass,Patrick,Star,4,456789,11
sandy,sandypass,Sandy,Cheeks,4,789012,10
ash33,pikachu,Ash,Ketchum,5,424242,11
misty,squirtle,Misty,Waters,5,444444,11
brock,geodude,Brock,Rock,5,222222,11
cap,cappass,Captain,America,6,369369,12
iman,tonys,Iron,Man,6,963963,12
redw,vision,Red,Witch,6,336699,12
comet,cometpass,Comet,Meteor,7,248248,12
pluto,plutopass,Dwarf,Pluto,7,224488,11
abelt,abelt,Asteroid,Belt,7,884422,10